/*Css Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Colors */
$btn-bg-link: #ffc74a;
$btn-text: #b98000;
$text: #606f81;

/*
===================
 Basic 
=================== 
*/

html {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $text;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/*
===================
 Header 
=================== 
*/
.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    &-logo {
        display: flex;
        align-items: center;
        padding-left: 40px;
        text-decoration: none;
        &-img {
            padding-right: 30px;
        }
        &-name {
            color: #fff;
            font-size: 2.14rem;
            font-weight: 700;
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        padding-right: 40px;
    }
    &-list {
        display: flex;
        &-item {
            margin-right: 50px;
        }
        &-item a {
            font-size: 1.28rem;
            color: #fff;
            text-decoration: none;
        }
        &-item a:hover {
            color: $btn-text;
        }
    }
    &-search {
        position: relative;
        &-label {
            color: $btn-bg-link;
            cursor: pointer;
        }
        &-button-search {
            position: absolute;
            right: 50px;
            top: -2px;
            display: none;
            cursor: pointer;
        }

        &-button-search::placeholder {
            color: $text;
            font-size: 1.28rem;
        }
    }
}

#header-search-button {
    position: absolute;
    right: 20px;
    top: -16px;
    width: 470px;
    padding: 10px;
    font-size: 1.28rem;
    border: none;
    border-radius: 15px;
    display: none;
}

#header-search-switcher:checked ~ #header-search-button {
    display: block;
}
#header-search-switcher:checked ~ .header-search-button-search {
    display: block;
}
/*
===================
 Main 
=================== 
*/
// .main-page {

// }
/*

 Banner 

*/
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 62.5vw;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.6) 100%
        ),
        url(../img/banner.png);
    background-size: cover;
    &-title {
        padding-bottom: 30px;
        text-align: center;
        font-size: 6.57rem;
        font-weight: 700;
        color: #fff;
        &-red {
            color: #ed6950;
        }
    }
    &-subtitle {
        margin-bottom: 55px;
        font-size: 1.28rem;
    }
    &-btn {
        padding: 20px 45px;
        font-size: 1rem;
        border: 0 solid;
        border-radius: 25px;
        color: $btn-text;
        background-color: $btn-bg-link;
        text-transform: uppercase;
    }
}
/*

Places 

*/
.places {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    transform: translateY(-56%);
    width: 100%;

    &-title {
        margin-bottom: 50px;
        font-size: 1.28rem;
        color: #fff;
    }
    &-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 0 15px;
        box-sizing: border-box;

        position: relative;
    }
    &-block:first-of-type {
        margin-left: 0;
    }
    &-block:last-of-type {
        margin-right: 0;
    }
    &-image {
        width: 100%;
    }
    &-name {
        font-size: 2.14rem;
        font-weight: 700;
        color: #fff;

        position: absolute;
        bottom: 90px;
    }
    &-region {
        color: $btn-bg-link;

        position: absolute;
        bottom: 65px;
    }
    &-btn {
        padding: 20px 45px;
        border: 0 solid;
        border-radius: 25px;
        color: $btn-text;
        background-color: $btn-bg-link;
        text-transform: uppercase;
        font-size: 1rem;
        position: absolute;
        bottom: 40px;
    }

    &-main-name {
        font-size: 3.42rem;
        bottom: 200px;
    }
    &-main-region {
        color: #fff;
        bottom: 170px;
    }
}
/*

Offers 

*/
.offers {
    margin-top: 300px;
    &-title {
        margin-bottom: 60px;
        text-align: center;
        font-size: 2.14rem;
        font-weight: 700;
    }
    &-search {
        display: flex;
        margin-bottom: 20px;
        font-size: 1.28rem;
        justify-content: center;
        align-items: center;
        position: relative;
        &-button {
            position: absolute;
            color: $btn-bg-link;
            transform: translateX(2000%);
        }
    }
    #offers-search-input {
        max-width: 800px;
        width: 100%;
        padding: 20px 40px;
        border: none;
        border-radius: 28px;
        box-shadow: 0 0 50px rgba(192, 192, 192, 0.9);
    }
    #offers-search-input::placeholder {
        color: $text;
        font-size: 1.28rem;
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        &-left {
            display: flex;
            &-categories {
                padding: 10px;
                margin-right: 10px;
                background-color: #bdc8d9;
                border-radius: 17px;
                &-links {
                    font-weight: 700;
                    color: #fff;
                    text-decoration: none;
                }
            }
            &-categories:hover {
                background-color: $btn-bg-link;
            }
            &-categories:last-of-type {
                margin-right: 0;
            }
        }
        &-right {
            display: flex;
            &-cities {
                padding: 10px;
                margin-left: 10px;
                border: 1px solid #ebeef4;
                border-radius: 17px;
                &-links {
                    font-weight: 700;
                    color: #8d97a5;
                    text-decoration: none;
                }
            }
            &-cities:hover {
                color: #fff;
                background-color: $btn-bg-link;
            }
            &-cities:first-of-type {
                margin-left: 0;
            }
        }
    }
    .wrapper {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    &-palette {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
            width: 31%;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: 0 0 60px rgba(192, 192, 192, 0.5);
            background-color: #fff;
            &-image {
                width: 100%;
                margin-bottom: 30px;
            }
            &-title {
                margin-bottom: 10px;
                font-size: 2.14rem;
            }
            &-subtitle {
                margin-bottom: 30px;
            }
            &-btn {
                padding: 10px;
                margin-left: 10px;
                color: #bdc8d9;
                background-color: #fff;
                border: none;
                box-shadow: 0 0 40px rgba(192, 192, 192, 0.5);
                border-radius: 17px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &-btn:hover {
                background-color: $btn-bg-link;
                color: $btn-text;
            }
            &-btn:active {
                box-shadow: none;
            }
        }
        &-block:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}
